* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
    border: 1px solid black;
}

h1 {
    text-align: center;
    color: black;
}

body {
    background-color: white;
} 

.main {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.lyricsBox {
    width: 500px;
    height: 250px;
    background-color: white;
}

.wordsBox {
    width: 500px;
    height: 100px;
    background-color: white;
}

input {
    width: 100%;
}

